<app-navbar *ngIf="!router.url.includes('/admin') && !router.url.includes('/login')"></app-navbar>

<div class="min-h-screen flex flex-col" [class.pt-20]="!router.url.includes('/admin') && !router.url.includes('/login')">
    <div class="flex-grow">
        <router-outlet></router-outlet>
    </div>
    
    <app-footer *ngIf="!router.url.includes('/admin') && !router.url.includes('/login')"></app-footer>
</div>

<div *ngIf="!router.url.includes('/admin') && !router.url.includes('/login')" class="fixed bottom-6 right-6 z-40 flex flex-col gap-4">
    <a href="https://wa.me/51917144618" target="_blank" class="w-14 h-14 bg-[#25D366] rounded-full flex items-center justify-center shadow-lg hover:scale-110 transition-transform cursor-pointer group relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" viewBox="0 0 16 16">
            <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592z"/>
        </svg>
    </a>
    <button class="w-14 h-14 bg-black rounded-full flex items-center justify-center shadow-lg hover:scale-110 transition-transform cursor-pointer group relative border border-[#D4AF37]">
        <span class="text-2xl">🤖</span>
    </button>
</div>