<div class="min-h-screen bg-[#F9F8F6] flex items-center justify-center p-6 fixed inset-0 z-50">
    
    <div class="bg-white p-10 md:p-16 shadow-2xl rounded-sm max-w-md w-full text-center border-t-4 border-[#D4AF37]">
        
        <h2 class="text-3xl font-serif text-[#1A1A1A] mb-2 tracking-widest">L' MAJOY ACCESS</h2>
        <p class="text-xs text-gray-400 uppercase tracking-widest mb-10">Área exclusiva para administración</p>

        <div class="space-y-6 text-left">
            <div>
                <label class="block text-[10px] font-bold uppercase text-gray-400 mb-2 tracking-widest">Usuario</label>
                <input [(ngModel)]="email" name="email" type="text" class="w-full border-b border-gray-300 py-3 focus:border-[#D4AF37] outline-none transition-colors bg-transparent text-black" placeholder="admin">
            </div>
            
            <div>
                <label class="block text-[10px] font-bold uppercase text-gray-400 mb-2 tracking-widest">Contraseña</label>
                <input [(ngModel)]="password" name="password" type="password" class="w-full border-b border-gray-300 py-3 focus:border-[#D4AF37] outline-none transition-colors bg-transparent text-black" placeholder="••••••">
            </div>

            <div *ngIf="errorMessage" class="text-red-500 text-xs text-center font-bold bg-red-50 p-3 rounded">
                {{ errorMessage }}
            </div>

            <button (click)="login()" class="w-full bg-[#1A1A1A] text-white py-4 text-xs font-bold uppercase tracking-[0.2em] hover:bg-[#D4AF37] hover:text-[#1A1A1A] transition-all shadow-lg mt-4 cursor-pointer">
                Ingresar al Sistema
            </button>
            
            <div class="text-center mt-8">
                <button (click)="goHome()" class="text-[10px] text-gray-400 uppercase tracking-widest hover:text-[#D4AF37] transition-colors bg-transparent border-none cursor-pointer underline">
                    ← Volver a la Tienda
                </button>
            </div>
        </div>
    </div>
</div>